@model IEnumerable<TableTennis.Models.Result>
@{
    ViewData["Title"] = "Save Result";
    var players = ViewBag.Players as List<TableTennis.Models.Player>;
}

<div class="container mt-5">
    <h3 class="mb-2">Дата и Время</h3>
    <form asp-action="SaveResult" asp-controller="Results" method="post">
        <div class="mb-4 col-md-2">
            <input type="datetime-local" class="form-control" name="dateTime" required>
        </div>

        <div class="row mb-3">

            <div class="col-3">
                <label for="player1">Игрок 1</label>
                <select id="player1" class="form-control" name="player1" required>
                    <option value="" selected>...</option>
                    @foreach (var player in players)
                    {
                        <option value="@player.Name">@player.Name</option>
                    }
                </select>
            </div>

            <div class="col-3">
                <label for="player2">Игрок 2</label>
                <select id="player2" class="form-control" name="player2" required>
                    <option value="" selected>...</option>
                    @foreach (var player in players)
                    {
                        <option value="@player.Name">@player.Name</option>
                    }
                </select>
            </div>

        </div>
        <div class="row mb-3">
            <div class="col">
                <a asp-action="Index" asp-controller="Players" class="btn btn-secondary">Управление Игроками</a>
            </div>
        </div>
        <div class="row mb-4">
            <div class="col">
                <label for="score">Счет</label>
                <select id="score" class="form-control" name="score" required>
                    <option value="">---</option>
                    <option value="4-0">4-0</option>
                    <option value="4-1">4-1</option>
                    <option value="4-2">4-2</option>
                    <option value="4-3">4-3</option>
                    <option value="0-4">0-4</option>
                    <option value="1-4">1-4</option>
                    <option value="2-4">2-4</option>
                    <option value="3-4">3-4</option>
                    <option value="3-0">3-0</option>
                    <option value="3-1">3-1</option>
                    <option value="3-2">3-2</option>
                    <option value="0-3">0-3</option>
                    <option value="1-3">1-3</option>
                    <option value="2-3">2-3</option>
                </select>
            </div>
        </div>
        <div class="row mb-3">
            <div class="d-grid gap-2">
                <button class="btn btn-primary" type="submit">Сохранить результат</button>
            </div>
        </div>
    </form>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Игрок 1</th>
                <th>Игрок 2</th>
                <th>Счет</th>
                <th>Дата и время</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var result in Model)
            {
                <tr>
                    <td>@result.Player1</td>
                    <td>@result.Player2</td>
                    <td>@result.Score</td>
                    <td>@result.DateTime.ToString("yyyy-MM-dd HH:mm:ss")</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@result.Id" class="btn btn-warning">Редактировать</a>
                        <a asp-action="Delete" asp-route-id="@result.Id" class="btn btn-danger">Удалить</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
